.slider {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	max-height: 700px;
}

button {
	margin: 10px;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 30px;
}

.slider__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider-images {
	display: flex;
	transition: transform 0.5s ease;
	border-radius: 10px;
}

.gallery-img {
	flex: 0 0 auto;
	width: 100%;
	height: auto;
	max-width: 100%;
	border-radius: 10px;
	object-fit: cover;
}

@media (max-width: 2560px) {
	.slider {
		max-height: 55%;
		max-width: 55%;
	}

	button {
		font-size: 40px;
	}
}

@media (max-width: 1024px) {
	.slider {
		max-height: 70%;
		max-width: 70%;
	}
}
@media (max-width: 768px) {
	.slider {
		max-height: 80%;
		max-width: 80%;
	}

	button {
		font-size: 30px;
	}
}

@media (max-width: 425px) {
	.slider {
		max-height: 100%;
		max-width: 100%;
	}
}
