@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: white;
	transition: color 0.3s ease-out;
}

a:hover {
	color: orange;
}

button {
	padding: 10px;
	font-size: 20px;
	border: 2px solid white;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	transition: color 0.5s ease-in-out;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 100;
}

p {
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
}

button:hover {
	color: orange;
}

body {
	min-height: 100vh;
	background-size: cover;
	background: url(src/assets/bg2.jpg);
	color: white;
}
