.age-verification {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.ver_container {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 1px solid white;
	padding: 30px;
	border-radius: 10px;
	text-align: center;
}

.accept_button {
	border: 1px solid rgba(255, 165, 0);
	transition: all 0.3s ease-in-out;
}

.accept_button:hover {
	background-color: rgba(255, 165, 0, 0.5);
	color: white;
}

.verification_buttons button {
	background-color: transparent;
	margin: 20px 20px;
	width: 350px;
}

@media (max-width: 2560px) {
}

@media (max-width: 1440px) {
	.ver_container {
		width: 60%;
	}

	.ver_container h2 {
		font-size: 70px;
		margin-bottom: 40px;
	}

	.ver_container p {
		font-size: 30px;
		margin-bottom: 40px;
	}
}

@media (max-width: 768px) {
	.ver_container {
		border: none;
		width: 100%;
		margin-top: -100px;
	}
}

@media (max-width: 430px) {
	.ver_logo {
		margin: 0 auto 54px auto;
	}

	.ver_logo img {
		width: 300px;
		height: 300px;
		margin: -40px auto;
	}
	.ver_container {
		border: none;
		width: 100%;
		margin-top: -100px;
	}

	.ver_container h2 {
		font-size: 50px;
		margin-bottom: 20px;
	}

	.ver_container p {
		font-size: 20px;
		margin-bottom: 20px;
	}
}
