.broadcasts-section {
	line-height: 50px;
	margin-top: 20%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.broadcasts-section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.broadcasts-section a {
	margin-bottom: 30px;
}

.broadcasts-section h2 {
	margin-bottom: 5%;
	font-size: 40px;
}

.broadcasts-section p {
	margin: 5% 0;
	font-size: 25px;
	line-height: 50px;
}
