.broadcasts-section {
	line-height: 50px;
	margin-top: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.broadcasts-section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.broadcasts-section h2 {
	margin-bottom: 5%;
	font-size: 40px;
}

.broadcasts-section p {
	margin: 5% 0;
	font-size: 25px;
	line-height: 50px;
	padding: 0 20px;
}

.broadcasts {
	width: 100%;
}

@media (max-width: 2560px) {
}

@media (max-width: 1440px) {
	.broadcasts h2 {
		margin-bottom: 3%;
		font-size: 40px;
	}

	.broadcasts p {
		margin: 3% 0;
		font-size: 30px;
	}

	.broadcasts img {
		height: 60vh;
		width: 70%;
	}
}

@media (max-width: 1024px) {
	.broadcasts p {
		font-size: 24px;
	}

	.broadcasts img {
		width: 70%;
	}
}

@media (max-width: 768px) {
	.broadcasts img {
		width: 100%;
	}
}

@media (max-width: 430px) {
	.broadcasts.broadcasts-section {
		margin-top: 10%;
	}

	.broadcasts img {
		height: 50vh;
		width: 100%;
	}
}
