.menu-section {
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.menu-section img {
	width: 100%;
	height: 50vh;
	object-fit: cover;
}

.introdusing {
	line-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.introdusing h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 100px;
}

.introdusing p {
	font-size: 20px;
	text-align: center;
}

button {
	padding: 10px;
	font-size: 20px;
	border: 2px solid white;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	transition: color 0.5s ease-in-out;
}

button:hover {
	color: orange;
}

.menu-section a {
	font-size: 20px;
	color: white;
	padding: 5px;
	transition: color 0.5s ease-in-out;
	border: 1px solid white;
	border-radius: 10px;
}

.menu-section a:hover {
	color: orange;
}

@media (max-width: 2500px) {
	.menu-section img {
		height: 100vh;
	}
}

@media (max-width: 430px) {
	.introdusing h2 {
		font-size: 35px;
	}

	.menu-section img {
		height: 50vh;
	}
}
