.content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
	color: white;
}

.tagline {
	margin-top: 50px;
}

main ul {
	list-style: none;
	color: white;
	line-height: 80px;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

.main-page-heading {
	margin-top: 20%;
	font-size: 70px;
}

.hover-text {
	font-size: 20px;
	color: white;
	transition: color 0.3s ease-in-out;
	cursor: pointer;
}

.hover-text:hover {
	color: orange;
}

@media (max-width: 2560px) {
	.main-page-heading {
		margin-top: 10%;
		font-size: 70px;
	}
}

@media (max-width: 1440px) {
	.main-page-heading {
		margin-top: 10%;
		font-size: 70px;
	}
}

@media (max-width: 768px) {
	.main-page-heading {
		margin-top: 10%;
		font-size: 70px;
	}
}

@media (max-width: 425px) {
	.main-page-heading {
		margin-top: 20%;
		font-size: 50px;
	}
}
