.gallery {
	display: flex;
	height: 100vh;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: white;
}

.gallery h2 {
	font-size: 60px;
	padding-bottom: 50px;
}

@media (max-width: 2560px) {
	.main-page-heading {
		margin-top: 10%;
		font-size: 70px;
	}

	.gallery h2 {
		font-size: 70px;
		padding-bottom: 50px;
	}
}

@media (max-width: 1440px) {
	.main-page-heading {
		margin-top: 10%;
		font-size: 70px;
	}

	.gallery h2 {
		font-size: 50px;
		padding-bottom: 40px;
	}
}

@media (max-width: 768px) {
	.main-page-heading {
		margin-top: 10%;
		font-size: 70px;
	}

	.gallery h2 {
		font-size: 40px;
		padding-bottom: 40px;
	}
}

@media (max-width: 430px) {
	.main-page-heading {
		margin-top: 20%;
		font-size: 45px;
	}

	.gallery h2 {
		font-size: 40px;
		padding-bottom: 30px;
	}
}
