.content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
	color: white;
	margin-top: 150px;
}

main ul {
	list-style: none;
	color: white;
	line-height: 80px;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

.main-page-heading {
	font-size: 70px;
}

.hover-text {
	font-size: 20px;
	color: white;
	transition: color 0.3s ease-in-out;
	cursor: pointer;
}

.hover-text:hover {
	color: orange;
}

@media (max-width: 2560px) {
	.main-page-heading {
		font-size: 70px;
	}

	.tagline h3 {
		font-size: 100px;
	}
}

@media (max-width: 1440px) {
	.main-page-heading {
		font-size: 70px;
	}

	.content {
		margin-top: 50px;
	}

	.tagline {
		margin-top: 5%;
	}

	.tagline span {
		font-size: 40px;
	}
}

@media (max-width: 1024px) {
	.main-page-heading {
		font-size: 60px;
	}

	.tagline span {
		font-size: 30px;
	}
}

@media (max-width: 768px) {
	.main-page-heading {
		font-size: 70px;
	}

	.tagline span {
		font-size: 20px;
	}

	.content {
		margin-top: 100px;
	}
}

@media (max-width: 430px) {
	.main-page-heading {
		font-size: 50px;
	}

	.tagline span {
		font-size: 22px;
	}
}
