.FindUs__container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	border-radius: 10px;
}

.FindUs__container h2 {
	font-size: 30px;
	margin: 3% 0;
}

.FindUs__container p {
	font-size: 25px;
	margin-bottom: 20px;
}

.FindUs__container iframe {
	border-radius: 2%;
	border: none;
}

.FindUs__container span {
	margin: 3% 0;
}

@media (max-width: 2560px) {
	.FindUs__container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin: 10% 0;
	}

	.FindUs__yandex {
		height: 500px;
	}
}

@media (max-width: 430px) {
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.FindUs__container {
		flex-direction: column;
		justify-content: center;
		border-radius: 2%;
	}

	.FindUs__yandex {
		margin: 20% 0;
		width: 75%;
		height: 500px;
	}
}
