* {
	margin: 0;
	box-sizing: border-box;
	color: white;
}

.MainPage {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	transition: 0.3s;
	font-family: serif;
}

.bg-vid {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	position: absolute;
	top: 0;
	z-index: -1;
}

.bg-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
