.Social_media {
	width: 100%;
	height: 50vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-size: 30px;
	text-align: center;
}

.Social_media_container {
	line-height: 60px;
}

.line {
	width: 75%;
	background-color: #fff;
	height: 1px;
	margin: 20px 0;
}

.Social_media_container i {
	padding: 0 10px;
}

@media (max-width: 2500px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 768px) {
}

@media (max-width: 430px) {
}
